{{define "footer"}}
<footer>
    <div class="footer-gauche">
        <img class="logo-img" src="../images/logo.png" alt="logo-beatfind">
        <p class="footer-text">BeatFind sélectionne pour vous les meilleurs concerts et évenements live près de chez vous. Explorez,Choisissez,Vibrez.</p>
        <p style="font-size: 3vh;"><strong>FR</strong></p>
    </div>
    <div class="footer-droite">
        <p><strong>Lien rapide</strong></p>
        <a href="/">Accueil</a>
        <a href="/contact">Contactez-nous</a>
        <a href="/" >Recherche</a>
        <a href="/panier">Panier</a>
        <p >BeatFind © all right reserve</p>
    </div>
</footer>
{{end}}