{{define "header"}}
<header>
    <div class="logo">
        <img class="logo-img" src="../images/logo.png" alt="logo-beatfind">
    </div>
    <nav>
        <div class = "txthead">
            <a href="/">Accueil</a>
            <a href="/contact">Contactez-nous</a>
            <a href="/" ><img class="logo-recherche" src="../images/loupe-1.png" alt="logo-loupe"></a>
            <a href="/panier"><img class="logo-recherche" src="../images/shopping-bag.png" alt="logo-panier"></a>
        </div>
    </nav>
</header>
{{end}}