<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="../CSS/index2.css">
</head>
<body>
    {{template "header" .}}

    {{ $c := 0 }} {{ $pg := 1 }}
    {{ range .Rel }}
        {{ if eq (mod $c 3) 0 }}
            <input type="radio" name="concertPage" id="cp{{$pg}}" class="page-radio" {{if eq $pg 1}}checked{{end}}>
            {{ $pg = add $pg 1 }}
        {{ end }}
        {{ $c = add $c 1 }}
    {{ end }}


    <div class="artist-hero-background">
        <img src="{{.ArtistImage}}" alt="{{.ArtistName}}"/>
    </div>
    <div id="rectangle">
        <div class="artist-hero">
            <img src="{{.ArtistImage}}" alt="{{.ArtistName}}"/>
        </div>
        <div class="colonne">
            <div class="name">
                <h1 id="artist-name" class="artiste-name">{{.ArtistName}}</h1>
            </div>
            <div class="members">
                <h3 id="artist-members" class="artiste-members">{{ range .Members }}{{ . }} {{ end }}</h3>
            </div>
            <div class="creation-date">
                <h3 id="artist-creation-date" class="artiste-creation-date">Creation Date: {{.CreationDate}}</h3>
            </div>
            <div class="first-album">
                <h3 id="artist-first-album" class="artiste-first-album">First Album: {{.FirstAlbum}}</h3>
            </div>
        </div>
        <div class="relations">


            


            {{ $i := 0 }}     
            {{ $p := 1 }}     
            {{ $total := len .Rel }}

            <h1 id="artist-relations" class="artiste-relations">Concerts:</h1>
            
            {{ range $loc, $dates := .Rel }}

                
                
                {{/* Open Page Div */}}
                {{ if eq (mod $i 3) 0 }}

                <div class="concert-page-{{ $p }}">
                    <div class="nav-arrows">
                        <label for="cp{{ add $p -1 }}" class="btn-prev" {{ if le $p 1 }}{{ end }}>◀</label>
                        <label for="cp{{ add $p 1 }}" class="btn-next" {{ if ge (add $i 3) $total }}{{ end }}>▶</label>
                    </div>
                {{ end }}

                    <div class="concert-info">
                        <h3>{{ $loc }}</h3>
                        <ul class="no-point">
                            {{ range $dates }}
                                <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>

                    {{ $i = add $i 1 }}

                    {{/* Close Page Div */}}
                    {{ if or (eq (mod $i 3) 0) (eq $i $total) }}
                </div> 
                        {{/* Close the .concert-page-X div */}}
                        {{ if eq (mod $i 3) 0 }}
                            {{ $p = add $p 1 }}
                        {{ end }}
                    {{ end }}
            {{ end }}
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>