<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="../CSS/index2.css">
</head>
<body>
    {{template "header" .}}
    <div class="artist-hero-background">
        <img src="{{.ArtistImage}}" alt="{{.ArtistName}}"/>
    </div>
    <div id="rectangle">
        <div class="artist-hero">
            <img src="{{.ArtistImage}}" alt="{{.ArtistName}}"/>
        </div>
        <div class="name">
        <h1 id="artist-name" class="artiste-name">{{.ArtistName}}</h1>
    </div>
    </div>
    {{template "footer" .}}
</body>
</html>