* {
    margin: 0;
    list-style: none;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url();
    background-size: cover;
    background-position: center;
}