
.artist-hero-background img {
  filter: blur(20px) brightness(0.5);
  width: 101vw;
  margin-top: -10vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.artist-hero img {
  z-index: 1;
  margin-top: 2.5vw;
  margin-left: 2.5vw;
  width: 25vw;
  border-radius: 40px;
}

#rectangle {
  width: 80vw;
  margin-top: 5vw;
  height: 30vw;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 100px;
  z-index: 2;
  margin-left: 10vw;
  display: flex;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 5vw;
}

.name {
  margin-top: 3vw;
}

.members h3 {
  color: white;
  font-size: 1vw;
  margin-bottom: 0;
}

.colonne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 4vw;
  color: white;
  padding-top: 2vw;
  max-width: 20vw;
}

.concert-info {
  margin-left: -10vw;
  color: white;
  border: white solid 1px;
  margin-bottom: 1vw;
  font-size: 0.6vw;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  gap: 1vw;
  align-items: center;
  padding: 0.5vw;
}

.relations {
  color: white;
  padding-left: 5vw;
  margin-left: 8vw;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  max-height: 30vw;
  width: 30vw;
  margin-top: 4vw; 
}

.relations::-webkit-scrollbar {
    display: none;
}

.relations h1{
  margin-left: -10vw;
}


.page-radio { display: none; }

[class^="concert-page-"] { display: none; }

#cp1:checked ~ #rectangle .relations .concert-page-1,
#cp2:checked ~ #rectangle .relations .concert-page-2,
#cp3:checked ~ #rectangle .relations .concert-page-3,
#cp4:checked ~ #rectangle .relations .concert-page-4,
#cp5:checked ~ #rectangle .relations .concert-page-5,
#cp6:checked ~ #rectangle .relations .concert-page-6 {
    display: block;
}

.no-point{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-left: -3vw;
  gap: 1vw;
  max-height: 2vw;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.no-point li{
  text-align: center;
}

.nav-arrows {
    display: flex;
    justify-content: space-between;
    visibility: visible;
    margin-left: -2vw;
    margin-top: -1vw;
    gap: 8vw;
}

.nav-arrows label{
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}



.btn-prev, .btn-next {
    cursor: pointer;
    background: #333;
    color: white;
    margin: auto;
    padding: 0%;
}

.btn-next{
  margin-top: -3vw;
  margin-left: 10vw;
  padding: 1vw;
  border-radius: 200px;
  height: 0.5vw;
  width: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-prev{
  margin-top: -3vw;
  margin-left: -8vw;
  padding: 1vw;
  border-radius: 200px;
  height: 0.5vw;
  width: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-prev:hover, .btn-next:hover {
    background:white; 
    color: black;
}

