
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
  background-color: rgb(114, 114, 114);
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;
}

header {
  background-color: rgba(85, 85, 85, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-radius: 100px;
  width: 80vw;
  margin: auto;
  margin-top: 1.5vw;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

.search-form {
  background-color: rgba(85, 85, 85, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  border-radius: 100px;
  width: 40vw;
  height: 5vh;
  margin: auto;
  margin-top: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  position: relative;
  top: 70vh;
}

.search-form input[type="text"] {
    flex: 1;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5vw;
    outline: none;
}

.btn-barre-recherche{
  background-color: transparent;
  border: none;
}

.txthead {
    font-size: 1.2vw;
    color: white;
    display: flex;
    gap: 2vw;
    align-items: center;
    margin-right: 2vw;
}

.txthead a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.logo-img {
  height: 60px;
  width: auto;
  display: block;
}

.logo-recherche {
  height: 1.5vw;
  width: auto;
  display: block;
}

.logo-panier{
  height: 2vw;
  width: auto;
  display: block;
}

.logo-barre-recherche {
  height: 4vh;
  width: auto;
  display: block;
}

footer {
  background-color: rgba(85, 85, 85, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  margin-top: 40px;
  height: 40vh;
}

.footer-gauche{
  justify-content: left;
  margin-left: 15vw;
  padding-right: 15vw;
}

.footer-gauche p{
  color: white;
  font-size: 2.2vh;
}

.footer-droite{
  justify-content: right;
  margin-left: auto;
  margin-right: 15vw;
  width: 20vw;
}

.footer-droite a{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 2vh;
}

.footer-droite p{
  color: white;
  font-size: 1.2vw;
}

.vinyle{
    width: 20vw;
    left: 15%;
    position: absolute;
    top : 30%;
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
